.searchResultContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 165px;
  background-color: aliceblue;
  border-bottom: #2196f3 solid 1px;
  padding-bottom: 10px;
  margin: 10px;
  margin-left: 3px;
  margin-right: 3px;
}

.imageContainer {
  display: flex;
  align-self: flex-start;
  margin: 10px;
  height: 165px;
  width: 145px;
}

.cover {
  height: 100%;
  width: 100%;
}

/* Votes */

.votes {
  /* border-top: black solid 1px; */
  position: relative;
  align-self: flex-start;
  /* margin-right: 20px; */
  /* margin-top: 10px; */
  font-size: 0.5em;
}

.upVotes {
  margin-left: 5px;
  /* margin: 0px; */
  padding: 0px;
  color: blueviolet;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.downVotes {
  margin-left: 5px;
  /* margin: 0px; */
  padding: 0px;
  color: red;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.hover {
  font-family: 'Circular-Pro-Bold';
  position: relative;
  font-weight: 300;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  padding: 3px 0;
  margin-bottom: 10px;
}

/* .hover:hover {
  color: #aaa;
} */

.hover:hover::after,
.hover:hover::before {
  width: 100%;
  left: 0;
}

.hover::after,
.hover::before {
  content: '';
  position: absolute;
  top: calc(100% + 5px);
  width: 0;
  right: 0;
  height: 3px;
}

.hover::before {
  -webkit-transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
  transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
  background: #2196f3;
}

.hover::after {
  -webkit-transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #F44336;
}

/* .bookDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 40px;
  margin-top: 10px;
} */

.bookTitle {
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.Search-header {
  text-align: center;
  /* background-color: #2195f359; */
  /* border-radius: 2em; */
}


.form {
  color: rgb(72, 72, 72);
  font-family: 'Circular-Pro-Black';
  /* font-size: 62px; */
  font-weight: bold;
  /* line-height: 65px; */
  letter-spacing: -2px;
}

input {
  border: none;
  font-family: 'Circular-Pro-Book';
  outline: none;
  width: 250px;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

::-webkit-input-placeholder {
  color: rgb(72, 72, 72);
  font-family: 'Circular-Pro-Black';
  /* font-size: 62px; */
  font-weight: bold;
  /* line-height: 65px; */
  letter-spacing: -2px;
}

/* @keyframes form {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
