.searchResultContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 75vw;
  background-color: aliceblue;
  border-bottom: #2196f3 solid 1px;
}

.imageContainer {
  display: flex;
  align-self: flex-start;
  margin: 10px;
  height: 250px;
  width: 220px;
}

.cover {
  width: 186px;
  height: 250px;
}

.votes {
  position: relative;
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 1.25em;
  font-weight: 600;
}

.hover {
  position: relative;
  font-weight: 300;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  padding: 3px 0;
  margin-bottom: 10px;
}

/* .hover:hover {
  color: #aaa;
} */

.hover:hover::after,
.hover:hover::before {
  width: 100%;
  left: 0;
}

.hover::after,
.hover::before {
  content: '';
  position: absolute;
  top: calc(100% + 5px);
  width: 0;
  right: 0;
  height: 3px;
}

.hover::before {
  -webkit-transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
  transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
  background: #2196f3;
}

.hover::after {
  -webkit-transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #F44336;
}

.upVotes {
  margin-right: 5px;
  color: blueviolet;
  background-color: aliceblue;
  border: none;
  text-decoration: none;
}

.downVotes {
  margin-left: 5px;
  color: red;
  background-color: aliceblue;
  border: none;
  text-decoration: none;
}

.bookDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 40px;
  margin-top: 10px;
}

.bookTitle {
  font-size: 2.5em;
}

.Search-header {
  text-align: center;
  background-color: #2195f359;
  border-radius: 2em;
}
