.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.HomeNavBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c09f80;
  width: 90vw;
  height: 25vh;
  border-radius: 2em;
}

.HomeHeader {
  display: flex;
  justify-content: center;
  color: #76323f;
  width: 90vw;
  height: 60vh;
}

.LowerButtonStrip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
  height: 35vh;
}

.button {
  margin: 1em;
  display: flex;
  justify-content: center;
  background-color: #565656;
  width: 10vw;
  height: 5vh;
  border: 1px solid silver;
  border-radius: 2em;
}

.buttonText {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: silver;
}

.PageDisplay {
  display: flex;
  justify-content: center;
  background-color: #c09f80;
  width: 90vw;
  height: 100vh;
  border-radius: 2em;
  margin-top: 1em;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #565656;
  height: 75vh;
  width: 75vw;
  border:1px solid silver;
  border-radius: 2em;
  margin: auto;
}

.doubleImageStrip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color:  #d7cec7;
  width: 55vw;
  height: 35vh;
  border-radius: 2em;
  margin: auto;
}

.imageBox {
  height: 75%;
  width: 45%;
  border: 1px solid grey;
  margin: auto;
}

#books {
  background-image: url('./images/books.jpg');
  background-repeat: no-repeat;
}