$default_color_light: rgba(255, 0, 0, 0.5);
$default_color_dark: rgba(255, 0, 0, 0.5);

$primary_color_light: #565656;
$primary_color_dark: sienna;

$secondary_color_light: rgba(255, 0, 0, 0.5);
$secondary_color_dark: rgba(255, 0, 0, 0.5);

$success_color_light: rgba(255, 0, 0, 0.5);
$success_color_dark: rgba(255, 0, 0, 0.5);

$info_color_light: rgba(255, 0, 0, 0.5);
$info_color_dark: rgba(255, 0, 0, 0.5);

$warning_color_light: rgba(255, 0, 0, 0.5);
$warning_color_dark: rgba(255, 0, 0, 0.5);

$danger_background_color_light: rgba(255, 0, 0, 0.5);
$danger_background_color_dark: rgba(255, 0, 0, 0.5);

$default_background_color_light: #d7cec7;
$default_background_color_dark: #c09f80;

$primary_background_color_light: rgba(255, 0, 0, 0.5);
$primary_background_color_dark: #76323f;

$secondary_background_color_light: rgba(255, 0, 0, 0.5);
$secondary_background_color_dark: rgba(255, 0, 0, 0.5);

$success_background_color_light: rgba(255, 0, 0, 0.5);
$success_background_color_dark: rgba(255, 0, 0, 0.5);

$info_background_color_light: rgba(255, 0, 0, 0.5);
$info_background_color_dark: rgba(255, 0, 0, 0.5);

$warning_background_color_light: rgba(255, 0, 0, 0.5);
$warning_background_color_dark: rgba(255, 0, 0, 0.5);

$danger_background_color_light: rgba(255, 0, 0, 0.5);
$danger_background_color_dark: rgba(255, 0, 0, 0.5);

$button_color: rgb(89, 89, 145);
